# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
**/.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# ==========================
# Java/Backend (TaskManagementSystem)
# ==========================
/backend/TaskManagementSystem/target/
/backend/TaskManagementSystem/build/
!/backend/TaskManagementSystem/.mvn/wrapper/maven-wrapper.jar
!/backend/TaskManagementSystem/**/src/main/**/target/
/!backend/TaskManagementSystem/**/src/test/**/target/

# STS
/backend/TaskManagementSystem/.apt_generated
/backend/TaskManagementSystem/.classpath
/backend/TaskManagementSystem/.factorypath
/backend/TaskManagementSystem/.project
/backend/TaskManagementSystem/.settings
/backend/TaskManagementSystem/.springBeans
/backend/TaskManagementSystem/.sts4-cache

# IntelliJ IDEA
/backend/TaskManagementSystem/.idea
/backend/TaskManagementSystem/*.iws
/backend/TaskManagementSystem/*.iml
/backend/TaskManagementSystem/*.ipr

# NetBeans
/backend/TaskManagementSystem/nbproject/private/
/backend/TaskManagementSystem/nbbuild/
/backend/TaskManagementSystem/dist/
/backend/TaskManagementSystem/nbdist/
/backend/TaskManagementSystem/.nb-gradle/

# ==========================
# Global Editor / Misc
# ==========================
.vscode/
HELP.md
