# Maven / Gradle build directories
target/
build/

# Maven Wrapper JAR (keep these in repo)
/.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Logs and misc
.DS_Store

# Editor
.vscode/
